* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f1f8e9;
  color: #333;
  line-height: 1.6;
}
/* dekstop nav */

.dekstop_nav {
  display: flex;
  justify-content: space-between;
  background: rgb(240, 236, 236);
  color: black;
  align-items: center;
  height: 2.4em;
  padding: 0 1rem;
  display: none;
  position: sticky;
  top: 0px;
  z-index: 999;
}

.dekstop_nav .logo img {
  height: 4em;
  width: auto;
}

.nav_link {
  display: flex;
  list-style: none;
  gap: 3rem;
}

.dekstop_nav ul li a {
  text-decoration: none;
  color: black;
}

/* mobile nav */

.mobile_nav {
  display: flex;
  height: 2.4em;
  background-color: rgb(240, 236, 236);
  color: black;
  justify-content: space-between;
  padding-inline: 12px;
  position: sticky;
  top: 0px;
  z-index: 998;
}

.logo_2 img {
  height: 100%;
  width: 100%;
  transform: scale(1.4);
}

.burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 30px;
}

.line {
  height: 4px;
  background-color: black;
  margin: 4px 0;
}

.mobile_nav .nav_link {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25px;
  right: 25px;
  border: 2px solid black;
  border-radius: 5px;
  width: 200px;
  z-index: 999;
  gap: 0rem;
  display: none;
  background-color: rgb(240, 236, 236);
}

hr {
  border: 1px solid black;
}

.mobile_nav .nav_link li {
  padding: 10px 15px;
  text-align: center;
}

.mobile_nav .nav_link li a {
  text-decoration: none;
  color: black;
}

/*Header */

header {
  color: white;

  .con_img {
    overflow: hidden;
    height: 60vh;
    background-color: black;
  }

  .con_img img {
    overflow: hidden;
    width: 150%;
    height: 60vh;
    position: relative;
    -webkit-mask-image: linear-gradient(to bottom, black 10%, transparent);
    mask-image: linear-gradient(to bottom, black 10%, transparent);
  }

  .container {
    position: absolute;
    top: 35%;
    left: 45%;
    transform: translate(-50%, -50%);
  }

  .siram {
    width: 80px;
    height: 30px;
    color: white;
    background-color: #1ca3ec;
    border: 0px;
    text-shadow: 0px;
    cursor: pointer;
  }

  .siram:hover {
    transform: scale(1.1);
  }
}

/* dots */
.green-dot {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.red-dot {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
  margin-left: 4px;
}

.yellow-dot {
  height: 10px;
  width: 10px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
  margin-left: 4px;
}

/* loading */
.dot_loading {
  width: 60px;
  clip-path: inset(0 100% 0 0);
  animation: dot 1s steps(4) infinite;
  display: none;
}

.show2 {
  display: inline !important ;
}
@keyframes dot {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}

/* watering */

@keyframes waterDrop {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}

.water-container {
  position: relative;
  z-index: 999;
  width: 100px;
  height: 30px;
  overflow: hidden;
}

.water-drop {
  position: absolute;
  width: 4px;
  height: 12px;
  left: 10px;
  background-color: #1ca3ec;
  border-radius: 50%;
  animation: waterDrop 1s infinite;
}

.water-drop:nth-child(2) {
  left: 5px;
  animation-delay: 0.2s;
}
.water-drop:nth-child(3) {
  left: 15px;
  animation-delay: 0.4s;
}

.water-drop:nth-child(4) {
  left: 8px;
  animation-delay: 0.6s;
}
.water-drop:nth-child(5) {
  left: 0px;
  animation-delay: 0.8s;
}

.hide {
  display: none;
}

/* logs */

.log-history {
  margin: 1em;
  padding: 1em;
  background-color: white;
  border-radius: 8px;
}

.logs {
  list-style: none;
  max-height: 200px;
  overflow-y: auto;
}

/* status */

.live-status {
  margin: 1em;
  padding: 1em;
  background-color: white;
  border-radius: 8px;
}

/* footer */

footer {
  text-align: center;
  padding: 1em;
  font-size: 0.9em;
  color: #f1f8e9;
  background-color: #333;
}

.show {
  display: flex !important;
}

li a:hover {
  color: grey !important;
  text-decoration: underline !important;
}

/* dekstop responsive */
@media (min-width: 768px) {
  #log-history,
  #live-status {
    width: 50%;
    margin: 0 auto;
  }

  .dekstop_nav {
    display: flex !important;
  }

  .mobile_nav {
    display: none;
  }

  .con_img img {
    width: 100% !important;
    height: 100vh !important;
    max-height: 1000px;
  }

  h1 {
    font-size: 3em;
  }

  p {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  .dekstop_nav {
    display: none;
  }

  .mobile_nav {
    display: flex;
  }
}
